<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="bg-black text-white">
    <div class="container">
        <div class="row text-center p-2 border-bottom">
            <div class="col-2 offset-2 ">
                <a href="{% url 'team:view_tournament'%}"><img src="https://cdn.discordapp.com/attachments/1061685560835571772/1095791422751391945/273029c8-e33c-4f49-93e6-2f70f7ef6f2d.jpg" class="img-thumbnail rounded-4" alt="..." style="height: 80px;" ></a>
            </div>
            <div class="col-4 text-center">
                <h2>Jornadas</h2>
                <h6>Aqui puedes ver quien va contra quien</h6>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                {% for jornada in jornadas %}
                    <h2>Jornada {{ forloop.counter }}</h2>
                    <table class="table table-light table-striped">
                        <thead>
                            <tr>
                                <th>Local</th>
                                <th>Visitante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for local, visitante in jornada %}
                                <tr>
                                    <td>{{ local }}</td>
                                    <td>{{ visitante }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>